<template name="about">
	<div class="row">
		{{#if isAdmin}}
		<h5 class="col-sm-12 text-right"><a href="{{ pathFor route='settings'}}"><span class="glyphicon glyphicon-cog"></span> edit about</a>
		</h5>
		{{/if}}
	</div>

	<div class="cont-main">
		<div class="cont-obj">
			<div class="flex-obj-txt"><hr></div>
			<div class="flex-obj-lg"><div style="position: relative; left: 0; top: 0;">
				<img class="modallink" id="modImg" data-linkid="myModal" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;" />
				<img src="logos/kebony.jpg" width="100px" style="position: absolute; top: 30px; left: 30px;"/>
				<!-- Kebony Modal 2 -->
				<div id="myModal" class="modal">
					<div class="modal-content">
						<div class="cont-modal-header">
							<div class="flex-modal-header"><img src="logos/kebony_sm.jpg" position="absolute"/></div>
							<div class="flex-modal-header"><div class="close"><h1>×</h1></div></div>
						</div>
						<div class="cont-modal-body">
							<div class="flex-modal-img"><img src="/img/age1.jpg" width="100%"></div>
							<div class="flex-modal-txt">Kebony character products are made from FSC®-certified Pinus Sylvestris, which have been treated with a bio-based liquid. The patented Kebony® technology gives a unique wood product with outstanding durability and an exclusive appearance containing knots.</div>
						</div>
						<div class="cont-modal-header">
							<div class="flex-modal-links"><a href="kebony.zip">Download</a></div>
							<div class="flex-modal-links"><a href="kebony.html">More Info...</a></div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="flex-obj-lg"><div style="position: relative; left: 0; top: 0;">
				<img class="modallink" id="modImg" data-linkid="myModal2" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;"/>
				<!-- Kebony Modal 2 -->
				<div id="myModal2" class="modal">
					<div class="modal-content">
						<div class="cont-modal-header">
							<div class="flex-modal-header"><img src="logos/kebony_sm.jpg" position="absolute"/></div>
							<div class="flex-modal-header"><div class="close"><h1>×</h1></div></div>
						</div>
						<div class="cont-modal-body">
							<div class="flex-modal-img"><img src="/img/age1.jpg" width="100%"></div>
							<div class="flex-modal-txt">Kebony character products are made from FSC®-certified Pinus Sylvestris, which have been treated with a bio-based liquid. The patented Kebony® technology gives a unique wood product with outstanding durability and an exclusive appearance containing knots.</div>
						</div>
						<div class="cont-modal-header">
							<div class="flex-modal-links"><a href="kebony.zip">Download</a></div>
							<div class="flex-modal-links"><a href="kebony.html">More Info...</a></div>
						</div>
					</div>
				</div>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/berryalloc.png" width="100px" style="position: absolute; bottom: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/berryalloc.png" width="100px" style="position: absolute; bottom: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/mapei.png" width="100px" style="position: absolute; bottom: 30px; right: 30px;"/>
			</div></div>
			<div class="flex-obj-lg"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;" />
				<img src="logos/rcbeton.png" width="150px" style="position: absolute; bottom: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-obj-lg"><div style="position: relative; left: 0; top: 0;">
				<img  id="modImg" src="/img/age1.jpg" style="position: relative; top: 0; left: 0;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="content/fp_magnor_med_1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/magnor.jpg" width="100px" style="position: absolute; bottom: 30px; left: 40px;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img class="modallink" id="modImg" data-linkid="myModal3"  src="content/fp_bano_med_1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/bano.png" width="100px" style="position: absolute; bottom: 30px; left: 30px;"/>
				<!-- Bano Modal -->
				<div id="myModal3" class="modal">
					<div class="modal-content">
						<div class="cont-modal-header"><div class="flex-modal-header">
							<img src="logos/bano.png" position="absolute"/></div>
							<div class="flex-modal-header"><div class="close"><h1>×</h1></div>
							</div></div>
						<div class="cont-modal-body">
							<div class="flex-modal-img"><img src="content/modal_bano_1.jpg" width="100%"></div>
							<div class="flex-modal-txt">Bano’s height-adjustable cisterns can be set either manually with a crank or electrically.<br><br>The height of the toilet can be adjusted from 410 to 610 mm.</div>
						</div>
						<div class="cont-modal-header">
							<div class="flex-modal-links"><a href="bano.zip">Download</a></div>
							<div class="flex-modal-links"><a href="bano.html">More Info...</a></div>
						</div>
					</div>
				</div>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="content/fp_masonite_med_1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/masonite.png" width="100px" style="position: absolute; top: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-obj-lg"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="content/fp_bosvik_lg_1.jpg" style="position: relative; top: 0; left: 0;" />
				<img src="logos/logo_bosvik.gif" width="150px" style="position: absolute; bottom: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-obj-lg"><div style="position: relative; left: 0; top: 0;">
				<img  id="modImg" src="content/fp_bosvik_lg_2.jpg" style="position: relative; top: 0; left: 0;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="content/fp_sandvik_med_1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/sandvik.png" width="100px" style="position: absolute; bottom: 30px; left: 40px;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="content/fp_fossbad_med_1.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/fossbad2.png" width="100px" style="position: absolute; bottom: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-obj-med"><div style="position: relative; left: 0; top: 0;">
				<img id="modImg" src="content/fp_fossbad_med_2.jpg" style="position: relative; top: 0; left: 0;"/>
				<img src="logos/fossbad2.png" width="100px" style="position: absolute; bottom: 30px; left: 30px;"/>
			</div></div>
			<div class="flex-footer">A powerful link between vendors and professionals</div>
		</div>
	</div>
	<script>
        var modalLinks = document.getElementsByClassName("modallink");
        for ( var i = 0; i < modalLinks.length; i++ ){
            makeModal( modalLinks[i] );
        }
        window.onclick = function(event) {
            if ( window.modalOpen ) {
                var modals = document.getElementsByClassName("modal");
                for ( var i = 0; i < modals.length; i++ ) {
                    modals[i].style.display = "none";
                    window.modalOpen = false;
                }
            }
        }
        function makeModal(modImg) {
            var modal = document.getElementById( modImg.dataset.linkid );
            var span = document.getElementsByClassName("close")[0];
            modImg.onclick = function() {
                modal.style.display = "block";
                window.setTimeout( function() { window.modalOpen = true; }, 250 );
            }
            span.onclick = function() {
                modal.style.display = "none";
            }
        }
        $(window).scroll(function() {
            if ($(this).scrollTop() > 1){
                $('header').addClass("sticky");
            }
            else{
                $('header').removeClass("sticky");
            }
        });
	</script>
</template>